@import "tailwindcss";

@theme {
  --color-food-primary-50:  #F0FDF4;
  --color-food-primary-100: #DCFCE7;
  --color-food-primary-200: #BBF7D0;
  --color-food-primary-300: #86EFAC;
  --color-food-primary-400: #4ADE80;
  --color-food-primary-500: #22C55E;
  --color-food-primary-600: #16A34A;
  --color-food-primary-700: #15803D;
  --color-food-primary-800: #166534;
  --color-food-primary-900: #145231;

  --color-food-secondary-50:  #FFFBEB;
  --color-food-secondary-100: #FEF3C7;
  --color-food-secondary-400: #FBBF24;
  --color-food-secondary-500: #FACC15;
  --color-food-secondary-600: #F59E0B;

  --color-food-error-100: #FEE2E2;
  --color-food-error-500: #EF4444;
  --color-food-error-600: #DC2626;
}
